<div class="inner">
    <div class="menu_holder row">
        <div class="col-xs-4 col-md-2 col-md-offset-1">
            <div class="menu_caption">{{t "footer.ebookchain"}}</div>
            <div class="list-group">
                <!--<li class="list-group-item"><a href="https://explorer.ebookchain.org/"  target="_blank">Blockchain Explorer</a></li>
              <li class="list-group-item"><a href="https://testnet.ebookchain.org/" target="_blank">Testnet</a></li>-->
                <li class="list-group-item"><a href="https://github.com/Ebookchain" target="_blank">GitHub</a></li>
                <li class="list-group-item"><a href="https://github.com/Ebookcoin" target="_blank">{{t "header.nav.ebookcoin"}}</a></li>
                <li class="list-group-item"><a href="http://blog.ebookchain.org/tag/documents/" target="_blank">{{t "header.nav.document"}}</a></li>
            </div>
        </div>
        <div class="col-xs-4 col-md-2">
            <div class="menu_caption">{{t "footer.resources"}}</div>
            <ul class="list-group">
                <li class="list-group-item"><a href="http://blog.ebookchain.org/" target="_blank">{{t "header.nav.blog"}}</a></li>
                <li class="list-group-item"><a href="http://chainclub.org/" target="_blank">{{t "header.nav.club"}}</a></li>
                <li class="list-group-item"><a href="http://blog.ebookchain.org/faq" target="_blank">{{t "header.nav.faq"}}</a></li>
            </ul>
        </div>

        <div class="col-xs-4 col-md-2">
            <div class="menu_caption">{{t "footer.social_media"}}</div>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://www.facebook.com/Ebookchain-576963915799853/" target="_blank">Facebook</a></li>
                <li class="list-group-item"><a href="https://twitter.com/Ebookchain" target="_blank">Twitter</a></li>
                <li class="list-group-item"><a href="https://plus.google.com/communities/102644734314168885122" target="_blank">Google+</a></li>
            </ul>
        </div>

        <div class="col-xs-4 col-md-2">
            <div class="menu_caption"></div>
            <div class="list-group">
                <a class="prcode list-group-item" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933">
                    <img border="0" src="images/185046161.png" alt={{t "footer.qq"}} title={{t "footer.qq"}}>
                </a>
            </div>
        </div>

        <div class="col-xs-4 col-md-2">
            <div class="menu_caption"></div>
            <ul class="list-group">
                <li class="prcode list-group-item">
                    <img border="0" src="images/ebookchain-weixin.png" alt={{t "footer.weixin"}} title={{t "footer.weixin"}}>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom row">
        <div class="logo_holder">
            <a href="/" class="logo"><img src="icons/ebookchain-logo-40x40.png" alt="Ebookchain" /></a>
        </div>
        <div class="contacts">
            <p>{{t "footer.qq"}}</p>
            <p>{{t "footer.weixin"}}</p>
        </div>
        <div class="copyright">Copyright © {{year}} Ebookchain. All rights reserved.</div>

    </div>
</div>
