<!-- {{#if TPC_start}}
  <h1>亿书代币定价活动 (TPC) 正在进行中</h1>
  <h3>离TPC活动结束 (2017.1.21 21:21:00) 还剩</h3>
{{else}}
  <h1>亿书代币定价活动 (TPC) 即将盛装启幕</h1>
  <h3>2016.12.12 12:12:00</h3>
{{/if}} -->
<h1>亿书TPC提前结束！</h1>
<div class="c-time">
	<!-- <span>{{day}}</span>
	<span>{{hour}}</span>
	<span>{{minute}}</span>
	<span>{{second}}</span> -->
</div>
<div class="c-text">
	<!-- <span>天</span>
	<span>时</span>
	<span>分</span>
	<span>秒</span> -->
</div>
