<div class="inner">
    <div class="menu_holder row">
        <div class="col-xs-12 col-md-3 text-center">
            <!-- <div>微信公众号: 亿书</div> -->
            <div class="logo_banner"><img src="/images/logo-banner.png" alt="logo"></div>
            <div marker="weixin" class="weixin">
                <img src="/icons/wx.png" alt="logo">
                <div marker="weixin-detail" class="prcode">
                    <img src="/images/ebookchain-weixin.png" alt="logo">
                    <div>微信公众号 ebookchain </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 ">
            <dl>
                <dt><img src="/icons/doc.png" alt="Ebookchain" />文档</dt>
                <dd><a href="">白皮书</a></dd>
                <dd><a href="">绿皮书</a></dd>
                <dd><a href="">F.A.Q</a></dd>
                <dd><a href="">商业模式</a></dd>
            </dl>
<!--             <div class="menu_caption">
                <img src="/icons/github-32x32.png" alt="Ebookchain" />
                <a target="_blank" href="https://github.com/Ebookchain/ebookchain.org" >
                    {{t "footer.ebookchain"}}
                </a>
                <span>|</span>
                <a target="_blank" href="https://github.com/Ebookcoin/ebookcoin" >
                    {{t "footer.ebookcoin"}}
                </a>
            </div> -->
        </div>
        <div class="col-xs-12 col-md-3">
            <dl>
                <dt><img src="/icons/link.png" alt="Ebookchain" />资源链接</dt>
                <dd><a href="">亿书官网</a></dd>
                <dd><a href="">亿书源码</a></dd>
                <dd><a href="">node.js区块链开发</a></dd>
                <dd><a href="">区块链俱乐部</a></dd>
            </dl>
<!--             <div class="menu_caption">
                {{t "footer.social_media"}}
                <a target="_blank" href="http://weibo.com/ebookchain">
                    <img src="/icons/weibo.png" alt="weibo">
                </a>
                          
                <a target="_blank" href="https://www.facebook.com/Ebookchain-576963915799853/" >
                    <img src="/icons/facebook.png" alt="Facebook" />
                </a>
                <a target="_blank" href="https://twitter.com/Ebookchain">
                    <img src="/icons/twitter.png" alt="twitter" />
                </a>
                <a target="_blank" href="https://plus.google.com/communities/102644734314168885122">
                    <img src="/icons/google.png" alt="Google+">
                </a>
               
            </div> -->
        </div>
        <div class="col-xs-12 col-md-3 "> 
            <dl>
                <dt><img src="/icons/contact.png" alt="Ebookchain" />联系</dt>
                <dd>微博</dd>
                <dd><a href="">ebookchain</a></dd>
                <dd>官方QQ群</dd>
                <dd>
                    <a target="_blank" title="加入亿书官方QQ群" href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933" >
                    185046161
                    </a>
                    <a target="_blank" title="加入亿书开源社区会员群" href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933" >
                    185046488
                    </a>
                </dd>
                <dd>邮箱</dd>
                <dd >
                    support@ebookchain.org
                </dd>
            </dl>              
<!--             <img src="/icons/qq.png" alt="QQ"/>
            <span>{{t "footer.qqgroup"}}</span>
            <a target="_blank" title="加入亿书官方QQ群" href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933" >
                185046161
            </a>
            <a target="_blank" title="加入亿书开源社区会员群" href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933" >
                185046488
            </a> -->
        </div>
    </div>
    <div class="bottom row">
        <hr>
        <div class="copyright">Copyright © {{year}} Ebookchain. All rights reserved.</div>
    </div>
</div>
