  <div class="intro">
    <h1>{{t "home.opensource.title"}}</h1>
    <p class="desc">{{t "home.opensource.desc"}}</p>
  </div>
  <div class="overlay"></div>
  <div class="container">
    <div id="row">
      <div class="col-xs-12 col-md-4">
        <img src="images/nodejs-dev.png" alt="open source" class="img-responsive" />
      </div>
      <div class="col-xs-12 col-md-8 build-with-box">
        <div class="col-xs-12 col-md-10">
          <p class="desc">{{t "home.opensource.technique"}}</p>
        </div>
        <div class="col-xs-12 col-md-12">
          <div class="col-xs-6 col-md-4 text-center">
            <a class="" target="_blank" href="http://bitcoin-on-nodejs.ebookchain.org"><img src="/icons/book.png" alt="node.js">
              {{t "home.opensource.btcnodejs-book-link"}}
            </a>
          </div>
          <div class="col-xs-6 col-md-4 text-center">
            <a class="" target="_blank" href="https://github.com/Ebookcoin/ebookcoin">
              <img src="/icons/github-32x32.png" alt="ebookcoin">
              {{t "home.opensource.sourcecode"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>