  <div class="container-fluid">
    <div class="intro">
      <h1 id="title" class="animate-box">{{t "home.section0.title"}}</h1>
      <p class="desc animate-box" id="content">{{t "home.section0.desc"}}</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <img src="images/ebookchain-how-to-work.png" alt="example" class="img-responsive" />
      </div>
    </div>
    <div class="row wow-footer">
       <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-4">
          <img src="images/writer.png" alt="example" class="img-responsive" />
          <h4>{{t "home.section0.author"}}</h4>
          <p>{{t "home.section0.author-desc"}}</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="images/ebookchain-72x72.png" alt="example" class="img-responsive" />
          <h4>{{t "home.section0.ebookchain"}}</h4>
          <p>{{t "home.section0.ebookchain-desc"}}</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="images/reader.png" alt="example" class="img-responsive" />
          <h4>{{t "home.section0.reader"}}</h4>
          <p>{{t "home.section0.reader-desc"}}</p>
        </div>
    </div>
      <div class="col-xs-12 col-md-12">
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>{{t "home.section0.right"}}</b><br>{{t "home.section0.convenience"}}</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>{{t "home.section0.resource"}}</b><br>{{t "home.section0.convenience"}}</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>{{t "home.section0.collaboration"}}</b><br>{{t "home.section0.convenience"}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>{{t "home.section0.blog"}}</b><br>{{t "home.section0.convenience"}}</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>{{t "home.section0.publication"}}</b><br>{{t "home.section0.convenience"}}</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>{{t "home.section0.investigation"}}</b><br>{{t "home.section0.convenience"}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
