    <div class="row animate-box fadeIn">
      <div class="text-center intro">
        <h1>{{t "home.section4.title"}}</h1>
        <p class="desc">{{t "home.section4.desc"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center fadeInDown">
        <div class="services">
          <span class="icon">
            <i class="icon-write"></i>
          </span>
          <div class="desc">
            <h3>{{t "home.section4.record"}}</h3>
            <p>{{t "home.section4.record-desc"}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center fadeInDown">
        <div class="services">
          <span class="icon">
            <i class="icon-follow"></i>
          </span>
          <div class="desc">
            <h3>{{t "home.section4.tracing"}}</h3>
            <p>{{t "home.section4.tracing-desc"}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center fadeInDown">
        <div class="services">
          <span class="icon">
            <i class="icon-social"></i>
          </span>
          <div class="desc">
            <h3>{{t "home.section4.community"}}</h3>
            <p>{{t "home.section4.community-desc"}}</p>
          </div>
        </div>
      </div>
    </div>