 <div class="slide slide1">
      {{ebc-vivus}}
      <img src="images/shadow.png" alt="shadow" class="shadow img-responsive">
    </div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
    <div class="watching">
      <p>{{t "site.title"}}</p>
      <!--
      <div class="number">{{ t "home.num.books" count="100000" id="books" }}</div>
      <div class="number">{{ t "home.num.users" count="200000" id="users" }}</div>
      <div class="number">{{ t "home.num.ebc" count="300000" id="ebc" }}</div>
      -->
 </div>
