<!-- .container -->
<div class="container">	
	<div class="text-center intro">
		<h1>{{t "home.section8.title"}}</h1>
		<p class="desc">{{t "home.section8.desc"}}</p>			
	</div>
	
	<!-- .affa-tbl-pricing -->
	<div class="affa-tbl-pricing">
		<div class="row">
			
			<div class="col-xs-12 col-sm-3 tbl-prc-col"> 
				<div class="tbl-prc-wrap">
					<div class="tbl-prc-header">
						<i class="glyphicon glyphicon-fire"></i>
						<h4>{{t "home.section8.circuit"}}</h4>
					</div>
					<div class="tbl-prc-price">
						<p>{{t "home.section8.circuit-desc"}}</p>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-3 tbl-prc-col"> 
				<div class="tbl-prc-wrap">
					<div class="tbl-prc-header">
						<i class="glyphicon glyphicon-link"></i>
						<h4>{{t "home.section8.cridit"}}</h4>
					</div>
					<div class="tbl-prc-price">
						<p>{{t "home.section8.cridit-desc"}}</p>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-3 tbl-prc-col"> 
				<div class="tbl-prc-wrap">
					<div class="tbl-prc-header">
						<i class="glyphicon glyphicon-fullscreen"></i>
						<h4>{{t "home.section8.scaling"}}</h4>
					</div>
					<div class="tbl-prc-price">
						<p>{{t "home.section8.scaling-desc"}}</p>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-3 tbl-prc-col"> 
				<div class="tbl-prc-wrap">
					<div class="tbl-prc-header">
						<i class="glyphicon glyphicon-user"></i>
						<h4>{{t "home.section8.realname"}}</h4>
					</div>
					<div class="tbl-prc-price">
						<p>{{t "home.section8.realname-desc"}}</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- .affa-tbl-pricing end -->
</div>
<!-- .container end -->
