{{#full-page}}

<div id="fullpage">
    <div class="section " id="section0">
        {{ebc-vivus}}
        <p>{{t "site.title"}}</p>
        <img src="/images/shadow.png" alt="shadow" class="shadow">

        <div class="watching">
            <div class="number">{{ t "home.num.books" count="100000" id="books" }}</div>
            <div class="number">{{ t "home.num.users" count="200000" id="users" }}</div>
            <div class="number">{{ t "home.num.ebc" count="300000" id="ebc" }}</div>
        </div>
    </div>
    <div class="section" id="section1">
        <div class="intro">
            <h1>{{t "home.section0.title"}}</h1>
            <p>{{t "home.section0.desc"}}</p>
            <img src="images/ebookchain-yl.png" alt="example" />
        </div>
    </div>
    <div class="section" id="section2">
        <div class="slide">
            <div class="intro">
                <h1>Features</h1>
                <p>书链，是世界上第一个人人可用的去中心化软件。无需去探究什么是加密货币等高深的理论，就可以轻松使用它。
                </p>
                <img src="images/slider.png" alt="slider" />
            </div>

        </div>
        <div class="slide">
            <div class="intro">
                <img src="images/1.png" alt="simple" />
                <h1>Simple</h1>
                <p>Easy to use. Configurable and customizable.</p>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <img src="images/2.png" alt="Cool" />
                <h1>Safe</h1>
                <p>它以加密货币——博客币(ebookcoin，简称ebc）为驱动，基于一个P2P网络，具备比特币一样的安全、可信和去中心化的特点。</p>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <img src="images/3.png" alt="Compatible" />
                <h1>Compatible</h1>
                <p>Working in modern and old browsers too! And designed to fit to different screen sizes as well as tablet and mobile devices.</p>
                <img src="images/tablets.png" alt="tablets" />
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <img src="images/3.png" alt="Compatible" />
                <h1>创新</h1>
                <p>它的创新之处在于，加密货币被高度封装在底层，而用户所见到的是一个简单、友好的写作、分享和发布文章与书籍软件，具备诸多实用的功能!</p>
            </div>
        </div>
    </div>

    <div class="section" id="section3">
        <div class="intro">
            <h1>合作伙伴</h1>
            <p>
                Designed to fit to different screen sizes as well as tablet and mobile devices.
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>
        </div>
        <img src="images/tablets.png" alt="tablets" />
    </div>
</div>
{{/full-page}}